<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Podcasts Tab -->
    <ion-tab title="Podcasts" icon-off="ion-ios-browsers-outline" icon-on="ion-ios-browsers" href="#/tab/podcasts">
        <ion-nav-view name="tab-podcasts"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="Downloads" icon-off="ion-ios-download-outline" icon-on="ion-ios-download" href="#/tab/downloads">
        <ion-nav-view name="tab-downloads"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>

</ion-tabs>
